shared/.DS_Store
.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
shared/notes/log_contacts.csv~
mak_logs_cache
mak_features_cache
*.log
*.fff
*.ttt
*.ent
posit_data
*.bib
**/figure-revealjs/
**/meet_faculty_files/
*.html
**/meet_faculty_cache/
cache/
*.Rproj

