shared/.DS_Store
.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
shared/notes/log_contacts.csv~
mak_logs_cache
mak_features_cache
burden_paper.log
burden_paper.ent
burden/manuscript/submission_2/burden.bib
ema/manuscript/ema_paper.log
ema/manuscript/ema_paper.tex
ema/manuscript/ema_paper.pdf
ema/manuscript/ema_supplement.pdf
posit_data
RISK.Rproj
meta/manuscript/fyp/meta.bib
**/figure-revealjs/
**/meet_faculty_files/
*.html
**/meet_faculty_cache/
cache/
RISK.Rproj
*.Rproj
